.sidebar {
    height: 50px;
    width: 100%;
    padding: 0 5%;
    background-color: rgba(163, 105, 255, 0.815);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar div {
  height: 100%;
  background-color: rgb(163, 105, 255);
  color: white;
  font-size: 20px;
  width: 200px;
  box-sizing: border-box;
  padding-top: 10px;
  font-weight: 700;
}